* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, p {
  color: #000000;
}

li {
  list-style: none;
}

@media screen and (max-width: 767px) {
  br {
    display: none;
  }
}

.global-container {
  margin: 0 auto;
  width: 1024px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .global-container {
    width: 90%;
  }
}

.header {
  height: 70px;
  background-color: #EC715F;
}

@media screen and (max-width: 767px) {
  .header {
    height: 50px;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 1024px;
}

@media screen and (max-width: 767px) {
  .header__container {
    width: 90%;
  }
}

.header-logo {
  height: 70px;
}

@media screen and (max-width: 767px) {
  .header-logo {
    height: 50px;
  }
}

@media screen and (max-width: 767px) {
  .menu-box {
    margin: 5px 0;
    padding: 5px 0;
    width: 40px;
    border: 2px solid;
    border-color: #FAFAFA;
  }
  .menu-box__line {
    display: block;
    margin: 5px auto;
    width: 24px;
    height: 2px;
    background-color: #FAFAFA;
  }
}

@media screen and (max-width: 767px) {
  .nav {
    display: none;
  }
}

.nav-list {
  line-height: 70px;
}

.nav-list__item {
  display: inline-block;
  padding: 0 30px;
  font-size: 16px;
  color: #FAFAFA;
}

.main-visual {
  padding-top: 200px;
  height: 650px;
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 767px) {
  .main-visual {
    background-image: url(img/code.png);
  }
}

.main-visual__heading {
  padding-bottom: 10px;
  font-size: 64px;
  color: #FAFAFA;
}

@media screen and (max-width: 767px) {
  .main-visual__heading {
    font-size: 40px;
  }
}

.main-visual__subtitle {
  font-size: 20px;
  color: #FAFAFA;
}

@media screen and (max-width: 767px) {
  .main-visual__subtitle {
    font-size: 18px;
  }
}

.portfolio {
  padding: 90px 0;
  background-color: #ECEFF1;
}

.portfolio__heading {
  font-size: 32px;
}

.portfolio__heading::after {
  content: "";
  display: block;
  margin: 8px auto 0;
  width: 70px;
  height: 3px;
  background-color: #EC715F;
}

.portfolio__text {
  padding: 30px 0;
  font-size: 16px;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 767px) {
  .product {
    display: block;
  }
}

.product__thumbnail {
  margin-right: 10px;
  margin-bottom: 10px;
  width: 300px;
  height: 250px;
  background-size: cover;
  background-position: center;
}

.product__thumbnail:nth-child(3n) {
  margin-right: 0;
}

.product__thumbnail:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.thumbnail:nth-child(1) {
  background-image: url(img/sketch.jpg);
}

.thumbnail:nth-child(2) {
  background-image: url(img/websuku.jpg);
}

.thumbnail:nth-child(3) {
  background-image: url(img/write.jpg);
}

.thumbnail:nth-child(4) {
  background-image: url(img/webcamp.jpg);
}

.thumbnail:nth-child(5) {
  background-image: url(img/talk.jpg);
}

.thumbnail:nth-child(6) {
  background-image: url(img/webcamp-mother.jpg);
}

@media screen and (max-width: 767px) {
  .thumbnail:nth-child(2n+1) {
    display: none;
  }
  .thumbnail:nth-child(2n) {
    margin: 0 auto 10px;
  }
  .thumbnail:last-child {
    margin-bottom: 0;
  }
}

.feature {
  padding: 90px 0;
}

.feature__heading {
  font-size: 32px;
}

.feature__heading::after {
  content: "";
  display: block;
  margin: 8px auto 0;
  width: 70px;
  height: 3px;
  background-color: #EC715F;
}

.feature__text {
  padding: 30px 0;
  font-size: 16px;
}

.strength {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 30px;
}

@media screen and (max-width: 767px) {
  .strength {
    display: block;
  }
}

.strength__item {
  margin-right: 10px;
  width: 320px;
}

@media screen and (max-width: 767px) {
  .strength__item {
    margin: 0 auto;
    padding-bottom: 10px;
  }
}

.strength__item:last-child {
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .strength__item:last-child {
    margin-right: auto;
    padding-bottom: 0;
  }
}

.strength__icon {
  font-size: 60px;
}

.strength__heading {
  padding: 10px 0;
  font-size: 20px;
}

.strength__text {
  text-align: left;
  font-size: 16px;
}

.profile {
  padding: 90px 0;
  background-color: #ECEFF1;
}

.profile__heading {
  font-size: 32px;
}

.profile__heading::after {
  content: "";
  display: block;
  margin: 8px auto 0;
  width: 70px;
  height: 3px;
  background-color: #EC715F;
}

.profile__text {
  padding: 30px 0;
  font-size: 16px;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro__icon-wrap {
  width: 512px;
}

.intro__icon {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.intro__menu {
  width: 512px;
  text-align: left;
}

.intro__heading {
  padding-bottom: 5px;
  font-size: 20px;
}

.intro__text {
  padding-bottom: 20px;
  font-size: 16px;
}

.contact {
  padding: 90px 0;
}

.contact__heading {
  font-size: 32px;
}

.contact__heading::after {
  content: "";
  display: block;
  margin: 8px auto 0;
  width: 70px;
  height: 3px;
  background-color: #EC715F;
}

.contact__text {
  padding: 30px 0;
  font-size: 16px;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info__item {
  width: 400px;
  text-align: center;
}

.info__item-container {
  margin: 0 auto;
  width: 190px;
  text-align: left;
}

.info__heading {
  padding-bottom: 5px;
  font-size: 20px;
}

.info__link {
  padding-bottom: 20px;
}

.info__icon {
  margin-right: 20px;
  font-size: 50px;
}

.info__icon:last-child {
  margin-right: 0;
}

.footer {
  height: 60px;
  text-align: center;
  background-color: #EC715F;
}

.footer__copyright {
  line-height: 60px;
  font-size: 16px;
  color: #FAFAFA;
}
/*# sourceMappingURL=style.css.map */